[Desktop Entry]
Icon=preferences-system-login
Type=Service
Categories=Qt;KDE;X-KDE-settings-system;

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_plasmaservices
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Keywords=startup,service,services,plasma
X-KDE-Weight=2000
Name=Plasma Services
Name[de]=Plasma Dienste
Comment=Manage the main plasma services
Comment[de]=Konfiguration der wichtigsten Plasma Dienste
